html { font-size: 18px; }

body {
  color: black;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: #A4E666;
}

h1 {
  font-size: 2.6rem;
  padding-bottom: 15px;}

h2 {
  font-size: 1rem;}

.font1 {font-family: 'Bowlby One SC', cursive;}

.font2 {font-family: 'Alfa Slab One', cursive;}

.font3 {font-family: 'Passion One', cursive;}

.font4 {font-family: 'Kanit', sans-serif;}

.font5 {font-family: 'Titillium Web', sans-serif;}

h2.lato {
  font-family: 'Lato', sans-serif;}

h2.work {
  font-family: 'Heebo', sans-serif;}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;}

.main-content {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/muneeb-syed-252627-unsplash.jpg");
  background-position: left;
  background-size: cover;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: .75rem;
  font-family: 'Heebo', sans-serif;
  color: gray;}
